<footer class="footer">
  <div class="container">
    <div class="flexgrid flexgrid--full flexgrid--center">
        <div class="flexgrid__item xsmall--col-12 small--col-12 medium--col-10">
          <div class="footer__top">
            <div class="flexgrid medium--middle">
              <div class="flexgrid__item xsmall--col-12 small--col-12 medium--col-3">
                <div class="footer__logo">
                  <svg class=role="img" width="120px" height="45px" viewBox="0 0 120 45" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <title>Payix Logo</title>
                      <defs>
                          <polygon id="path-1" points="0 0.122299373 24.8343688 0.122299373 24.8343688 32.3325054 0 32.3325054"></polygon>
                          <polygon id="path-3" points="0.181903812 0.213044173 25.3107026 0.213044173 25.3107026 33.0921677 0.181903812 33.0921677"></polygon>
                      </defs>
                      <g id="Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g transform="translate(-225.000000, -2150.000000)">
                              <g transform="translate(0.000000, 2109.000000)" fill="#000000">
                                  <g>
                                      <rect id="Rectangle-1" x="0" y="0" width="1440" height="198"></rect>
                                  </g>
                              </g>
                              <g id="payix-footer" transform="translate(225.000000, 2150.000000)">
                                  <g>
                                      <g id="Group-3" transform="translate(0.000000, 10.236059)">
                                          <mask id="mask-2" fill="white">
                                              <use xlink:href="#path-1"></use>
                                          </mask>
                                          <g id="Clip-2"></g>
                                          <path d="M12.3069054,5.48361032 C10.4101753,5.48361032 8.83666072,6.10793758 7.58715984,7.35582228 C6.33712691,8.6039636 5.71250948,10.2354773 5.71250948,12.2490802 C5.71250948,14.3055367 6.33712691,15.9688698 7.58715984,17.238053 C8.83666072,18.5077494 10.4101753,19.1423409 12.3069054,19.1423409 C14.1445788,19.1423409 15.6925553,18.4967152 16.9497708,17.2062336 C18.2067203,15.9154953 18.835328,14.2703815 18.835328,12.2701221 C18.835328,10.284746 18.2176271,8.65708145 16.9827574,7.38764168 C15.7476217,6.11845851 14.1887383,5.48361032 12.3069054,5.48361032 L12.3069054,5.48361032 Z M5.97720043,0.718143149 L5.97720043,3.27087953 C7.06496051,2.22160942 8.24130561,1.43433608 9.50570367,0.909316109 C10.7703678,0.385065965 12.1228188,0.122299373 13.5641209,0.122299373 C16.6959867,0.122299373 19.3569953,1.26420497 21.5482107,3.54750296 C23.7388941,5.83131416 24.8343688,8.75998126 24.8343688,12.3342741 C24.8343688,15.7807761 23.7019171,18.6632538 21.437812,20.9822203 C19.1734408,23.3014434 16.4898204,24.461055 13.3874829,24.461055 C12.0055035,24.461055 10.7190257,24.2234359 9.52804944,23.7481979 C8.33680717,23.2732165 7.15301348,22.4967207 5.97720043,21.4184539 L5.97720043,32.3325054 L-2.66021053e-05,32.3325054 L-2.66021053e-05,0.718143149 L5.97720043,0.718143149 Z" id="Fill-1" fill="#FFFFFF" mask="url(#mask-2)"></path>
                                      </g>
                                      <path d="M38.6772743,16.7616195 C36.7981593,16.7616195 35.2375565,17.4155786 33.9946603,18.7229682 C32.7520327,20.0306221 32.1305846,21.7072844 32.1305846,23.7524266 C32.1305846,25.8129 32.7630437,27.507537 34.0279618,28.8371305 C35.2928799,30.1664597 36.8497228,30.8315208 38.6992962,30.8315208 C40.6076843,30.8315208 42.1905776,30.177826 43.447976,28.8699078 C44.7053744,27.5625182 45.3343422,25.8491136 45.3343422,23.7307513 C45.3343422,21.6565326 44.7053744,19.9759052 43.447976,18.6901909 C42.1905776,17.404741 40.6004332,16.7616195 38.6772743,16.7616195 L38.6772743,16.7616195 Z M45.0671249,11.8526968 L51.1457143,11.8526968 L51.1457143,35.6965643 L45.0671249,35.6965643 L45.0671249,33.1761519 C43.8806263,34.286878 42.6909051,35.0867487 41.4976925,35.5760286 C40.3042114,36.0655727 39.0102888,36.3103448 37.6167305,36.3103448 C34.4882738,36.3103448 31.7822622,35.1158253 29.4989642,32.7267863 C27.2159347,30.3380117 26.0742857,27.3687624 26.0742857,23.8185098 C26.0742857,20.1366195 27.179142,17.1197903 29.3880488,14.7672292 C31.5972243,12.4151968 34.2806768,11.2389163 37.4389437,11.2389163 C38.8918538,11.2389163 40.255602,11.5095929 41.5307254,12.0496247 C42.8058488,12.5904494 43.9845591,13.4014221 45.0671249,14.4822786 L45.0671249,11.8526968 Z" id="Fill-4" fill="#FFFFFF"></path>
                                      <g id="Group-8" transform="translate(54.154286, 11.238916)">
                                          <mask id="mask-4" fill="white">
                                              <use xlink:href="#path-3"></use>
                                          </mask>
                                          <g id="Clip-7"></g>
                                          <polygon id="Fill-6" fill="#FFFFFF" mask="url(#mask-4)" points="0.181903812 0.213044173 6.26113396 0.213044173 12.4194756 15.3177506 19.2143885 0.213044173 25.3107026 0.213044173 10.4627152 33.0922477 4.31909195 33.0922477 9.19482902 22.4896773"></polygon>
                                      </g>
                                      <polygon id="Fill-9" fill="#FFFFFF" points="81.2314286 35.3074877 87.2485714 35.3074877 87.2485714 11.2389163 81.2314286 11.2389163"></polygon>
                                      <polygon id="Fill-11" fill="#FFFFFF" points="113.322857 11.2389163 106.781917 11.2389163 102.291429 17.6276802 105.570632 22.2703448"></polygon>
                                      <polygon id="Fill-12" fill="#FFFFFF" points="89.2542857 35.3074877 96.3941602 35.3074877 102.291429 27.1785394 98.712513 22.2703448"></polygon>
                                      <polygon id="Fill-13" fill="#FFFFFF" points="97.8326917 11.2389163 91.26 11.2389163 99.0135855 22.2703448 102.291429 17.5825489"></polygon>
                                      <polygon id="Fill-14" fill="#FFFFFF" points="105.870723 22.2703448 102.291429 27.2299464 108.150865 35.3074877 115.328571 35.3074877"></polygon>
                                      <polygon id="Fill-15" fill="#83CD44" points="84.7623046 0.207487685 81.2314286 5.26380033 84.7213607 10.2360591 88.2514286 5.17946815"></polygon>
                                  </g>
                                  <path d="M118.385206,35.3747712 C118.513175,35.3747712 118.635758,35.3422893 118.752953,35.2773256 C118.870149,35.2123619 118.961229,35.1211189 119.026193,35.0035965 C119.091157,34.8860742 119.123638,34.7636551 119.123638,34.6363393 C119.123638,34.5077176 119.090667,34.384156 119.024724,34.2656543 C118.958781,34.1471526 118.866722,34.0560728 118.748546,33.9924149 C118.630371,33.928757 118.509258,33.896928 118.385206,33.896928 C118.261155,33.896928 118.140042,33.928757 118.021867,33.9924149 C117.903691,34.0560728 117.811469,34.1471526 117.745199,34.2656543 C117.67893,34.384156 117.645795,34.5077176 117.645795,34.6363393 C117.645795,34.7636551 117.67844,34.8860742 117.74373,35.0035965 C117.809021,35.1211189 117.900264,35.2123619 118.01746,35.2773256 C118.134655,35.3422893 118.257238,35.3747712 118.385206,35.3747712 Z M118.385206,35.2523521 C118.278783,35.2523521 118.176604,35.2250935 118.078669,35.1705762 C117.980734,35.1160589 117.904508,35.0399958 117.84999,34.942387 C117.795473,34.8447782 117.768214,34.7427623 117.768214,34.6363393 C117.768214,34.5292634 117.795963,34.4262681 117.851459,34.3273535 C117.906956,34.2284389 117.983835,34.1523758 118.082097,34.0991643 C118.180359,34.0459528 118.281395,34.0193471 118.385206,34.0193471 C118.488365,34.0193471 118.589238,34.0459528 118.687826,34.0991643 C118.786415,34.1523758 118.863294,34.2284389 118.918464,34.3273535 C118.973634,34.4262681 119.001219,34.5292634 119.001219,34.6363393 C119.001219,34.7427623 118.974124,34.8447782 118.919933,34.942387 C118.865742,35.0399958 118.789679,35.1160589 118.691744,35.1705762 C118.593809,35.2250935 118.491629,35.2523521 118.385206,35.2523521 Z M118.189336,35.0447294 L118.189336,34.7068527 L118.264746,34.7068527 C118.309796,34.7068527 118.344074,34.7159933 118.367578,34.7342746 C118.401529,34.7590848 118.446253,34.820784 118.501749,34.9193722 L118.501749,34.9193722 L118.572263,35.0447294 L118.728959,35.0447294 L118.632003,34.8890123 C118.585647,34.8152344 118.546473,34.7626758 118.514481,34.7313365 C118.497506,34.715014 118.47498,34.7009766 118.446906,34.6892243 C118.51546,34.6840011 118.570467,34.6598438 118.611927,34.6167522 C118.653386,34.5736607 118.674116,34.5230608 118.674116,34.4649526 C118.674116,34.4238198 118.66171,34.3849721 118.6369,34.3484096 C118.61209,34.3118471 118.578792,34.2862207 118.537006,34.2715304 C118.49522,34.2568401 118.427645,34.249495 118.33428,34.249495 L118.33428,34.249495 L118.061041,34.249495 L118.061041,35.0447294 L118.189336,35.0447294 Z M118.345053,34.5971652 L118.189336,34.5971652 L118.189336,34.3572238 L118.335259,34.3572238 C118.397938,34.3572238 118.440866,34.3617941 118.464044,34.3709347 C118.487222,34.3800753 118.50534,34.3939495 118.518398,34.4125572 C118.531456,34.4311649 118.537985,34.452221 118.537985,34.4757254 C118.537985,34.5122879 118.524438,34.5416685 118.497342,34.5638672 C118.470247,34.5860658 118.419484,34.5971652 118.345053,34.5971652 L118.345053,34.5971652 Z" fill="#FFFFFF" fill-rule="nonzero"></path>
                              </g>
                          </g>
                      </g>
                  </svg>
                </div>
              </div>
              <div class="flexgrid__item xsmall--col-12 small--col-12 medium--col-9">
                <nav class="navigation" aria-label="Footer navigation">
                  <h2 class="sr-only">Footer Navigation</h2>
                  {% include 'partials/navigation.twig' with { active_menu: menu.header.get_items, extra_items: options.navigation_buttons } %}
                </nav>
              </div>
            </div>
          </div>
          <div class="footer__bottom">
            <div class="flexgrid medium--middle">
              <div class="flexgrid__item xsmall--col-12 small--col-12 medium--col-3">
                {% include "partials/social.twig" %}
              </div>
              <div class="flexgrid__item xsmall--col-12 small--col-12 medium--col-9">
                <div class="footer__copyright">
                  <p>Payix © Copyright <span class="js-current-year"></span>. Payix is a registered ISO of Deutsche Bank AG,  New York, NY</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="footer__swipe-to-top js-swipe-button">
      <svg width="30px" height="32px" viewbox="0 0 30 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Icon Swipe to top</title>
        <g id="Swipe-Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Swipe-footer" transform="translate(-1257.000000, -58.000000)">
            <g id="Swipe-Group-4">
              <rect id="Swipe-Rectangle-2" fill="#000000" x="0" y="0" width="1440" height="198"></rect>
              <g id="Swipe-squeare-arrow-up" transform="translate(1257.000000, 58.000000)">
                <g id="Swipe-right-arrow" transform="translate(14.500000, 16.500000) rotate(-90.000000) translate(-14.500000, -16.500000) translate(4.000000, 11.000000)" fill="#FFFFFF" fill-rule="nonzero">
                  <path d="M17.5202186,4.65109336 L14.4778755,1.62546846 C14.4482847,1.60034921 14.4206789,1.57292288 14.3952083,1.54341771 C14.1228864,1.22775569 14.159958,0.752064254 14.4776448,0.481931143 C14.7942447,0.212657828 15.2701536,0.249222529 15.5246517,0.545754434 L19.8791536,4.8694325 C20.1735993,5.16353891 20.1736195,5.63821674 19.8791901,5.93224258 L15.5416608,10.2376586 C15.5163473,10.2670571 15.4887253,10.2944671 15.4590262,10.319743 C15.1424318,10.5890116 14.6665807,10.5524498 14.3952083,10.2378883 C14.1228864,9.92222626 14.159958,9.44653482 14.4595084,9.19307244 L17.5193383,6.15492807 L1.05539454,6.15492807 C0.638623662,6.15492807 0.3,5.81872424 0.3,5.40302929 C0.3,4.9873358 0.638622352,4.65109336 1.05539454,4.65109336 L17.5202186,4.65109336 Z" id="Path"></path>
                </g>
                <rect id="Swipe-Rectangle-3" stroke="#FFFFFF" x="0.5" y="0.5" width="29" height="31" rx="3"></rect>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>
</footer>
{{function('wp_footer')}}