<ul class="social">
  <li class="social__item">
    <a href="https://twitter.com/PayixInc" class="social__link" title="Go to Payix twitter page" target="_blank" rel="noopener noreferrer">
      <span class="sr-only">Twitter Link</span>
      <svg role="img" width="18px" height="19px" viewBox="0 0 18 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>Twitter Logo</title>
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-225.000000, -2229.000000)">
                  <g transform="translate(0.000000, 2109.000000)">
                      <g>
                          <g class="icon" transform="translate(225.000000, 120.000000)" fill="#FFFFFF">
                              <path d="M15.52,0.5 C16.8896662,0.5 18,1.61033382 18,2.98 L18,16.02 C18,17.3896662 16.8896662,18.5 15.52,18.5 L2.48,18.5 C1.11033382,18.5 6.1182494e-16,17.3896662 0,16.02 L0,2.98 C-1.6773573e-16,1.61033382 1.11033382,0.5 2.48,0.5 L15.52,0.5 Z M12.0000625,4.5 C10.5245625,4.5 9.3366875,5.63384615 9.3366875,7.02384615 C9.3366875,7.22384615 9.3545625,7.41615385 9.3984375,7.59923077 C7.18275,7.49692308 5.2221875,6.49153846 3.905125,4.96 C3.6751875,5.33769231 3.5403125,5.77 3.5403125,6.23538462 C3.5403125,7.10923077 4.015625,7.88384615 4.724125,8.33230769 C4.2959375,8.32461538 3.875875,8.20692308 3.52,8.02153846 L3.52,8.04923077 L3.52,8.04923077 C3.52,9.27538462 4.4438125,10.2938462 5.65525,10.5284615 C5.4383125,10.5846154 5.201875,10.6115385 4.9565,10.6115385 C4.785875,10.6115385 4.613625,10.6023077 4.4519375,10.5684615 C4.79725,11.5676923 5.777125,12.3023077 6.94225,12.3261538 C6.0355,12.9976923 4.8841875,13.4023077 3.6378125,13.4023077 C3.41925,13.4023077 3.209625,13.3930769 3,13.3676923 C4.1805625,14.0884615 5.5796875,14.5 7.0885,14.5 C11.99275,14.5 14.674,10.6538462 14.674,7.32 C14.674,7.20846154 14.6699375,7.10076923 14.66425,6.99384615 C15.1931875,6.63846154 15.637625,6.19461538 16,5.68384615 C15.5165625,5.88461538 15.0014375,6.01769231 14.464375,6.08230769 C15.016875,5.77 15.4385625,5.27923077 15.6368125,4.68769231 C15.1216875,4.97846154 14.5529375,5.18384615 13.9468125,5.29846154 C13.4576875,4.80538462 12.7605625,4.5 12.0000625,4.5 Z"></path>
                          </g>
                      </g>
                  </g>
              </g>
          </g>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a href="https://www.linkedin.com/company-beta/16156799/" class="social__link" title="Go to Payix linkedin page" target="_blank" rel="noopener noreferrer">
      <span class="sr-only">Linkedin Link</span>
      <svg role="img" width="18px" height="19px" viewBox="0 0 18 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>Linkedin Logo</title>
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-261.000000, -2229.000000)">
                  <g transform="translate(0.000000, 2109.000000)">
                      <g>
                          <g class="icon" transform="translate(225.000000, 120.000000)" fill="#FFFFFF">
                              <path d="M51.52,0.5 C52.8896662,0.5 54,1.61033382 54,2.98 L54,16.02 C54,17.3896662 52.8896662,18.5 51.52,18.5 L38.48,18.5 C37.1103338,18.5 36,17.3896662 36,16.02 L36,2.98 C36,1.61033382 37.1103338,0.5 38.48,0.5 L51.52,0.5 Z M41.8967391,6.5625 L39,6.5625 L39,15.5 L41.8967391,15.5 L41.8967391,6.5625 Z M45.969625,6.5625 L43.0625,6.5625 L43.0625,15.5 L45.969625,15.5 L45.969625,10.625 C46.0711242,10.4855506 48.1881846,7.61738953 49.0936875,9.8125 L49.0936875,9.8125 L49.0936875,15.5 L52,15.5 L52,9.4688125 L51.9943204,9.28611942 C51.9152012,8.01778822 51.0177983,6.97831534 49.82575,6.6673125 C49.794875,6.6575625 49.765625,6.647 49.733125,6.6380625 C49.694125,6.629125 49.655125,6.6218125 49.6153125,6.6153125 C49.5123958,6.59472917 49.4029792,6.57811806 49.2827292,6.56933102 L49.2827292,6.56933102 L49.0936875,6.5625 L48.8557906,6.57067001 C47.2980717,6.67817163 46.307006,7.81773512 45.969625,8.2711875 L45.969625,8.2711875 L45.969625,6.5625 Z M40.4307065,2.5 C39.6405491,2.5 39,3.14054913 39,3.93070652 C39,4.72086392 39.6405491,5.36141304 40.4307065,5.36141304 C41.2208639,5.36141304 41.861413,4.72086392 41.861413,3.93070652 C41.861413,3.14054913 41.2208639,2.5 40.4307065,2.5 Z"></path>
                          </g>
                      </g>
                  </g>
              </g>
          </g>
      </svg>
    </a>
  </li>
  <li class="social__item flush--right">
    <a href="https://www.youtube.com/channel/UCpLryFqfXWsFhGTHf07O1rw" class="social__link" title="Go to Payix youtube page" target="_blank" rel="noopener noreferrer">
      <span class="sr-only">YouTube Link</span>
      <svg role="img" width="18px" height="14px" viewBox="0 0 18 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>YouTube Logo</title>
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-297.000000, -2233.000000)">
                  <g transform="translate(0.000000, 2109.000000)">
                      <g>
                          <g class="icon" transform="translate(225.000000, 120.000000)" fill="#FFFFFF" fill-rule="nonzero">
                              <path d="M89.235,6.1812987 C88.74675,5.26893506 88.216875,5.10111688 87.138,5.0372987 C86.06025,4.96048052 83.350125,4.92857143 81.00225,4.92857143 C78.649875,4.92857143 75.938625,4.96048052 74.862,5.03611688 C73.785375,5.10111688 73.254375,5.26775325 72.761625,6.1812987 C72.25875,7.09248052 72,8.66193506 72,11.425026 C72,11.4273896 72,11.4285714 72,11.4285714 C72,11.4309351 72,11.4321169 72,11.4321169 L72,11.4344805 C72,14.1857532 72.25875,15.767026 72.761625,16.6687532 C73.254375,17.5811169 73.78425,17.7465714 74.860875,17.8233896 C75.938625,17.8895714 78.649875,17.9285714 81.00225,17.9285714 C83.350125,17.9285714 86.06025,17.8895714 87.139125,17.8245714 C88.218,17.7477532 88.747875,17.5822987 89.236125,16.6699351 C89.7435,15.7682078 90,14.1869351 90,11.4356623 C90,11.4356623 90,11.4321169 90,11.4297532 C90,11.4297532 90,11.4273896 90,11.4262078 C90,8.66193506 89.7435,7.09248052 89.235,6.1812987 Z M79,14.9285714 L79,7.92857143 L85,11.4285714 L79,14.9285714 Z"></path>
                          </g>
                      </g>
                  </g>
              </g>
          </g>
      </svg>
    </a>
  </li>
</ul>