<section class="card">
  <div class="container">
    <div class="flexgrid flexgrid--full flexgrid--center">
      <div class="flexgrid__item xsmall--col-12 small--col-12 medium--col-10">
          <div class="card__content">
            <h2 class="sr-only">{{page_block.title}}</h2>
            {{page_block.content}}
          </div>
      </div>
    </div>
  </div>
</section>
{{get_block_styles('card')}}